In [1]:
import pandas as pd
from os import walk
import os
import xlrd
import csv
from tqdm.notebook import tnrange

In [2]:
input_repo = '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리'
output_repo = '/Users/jaytsol/Desktop/Type23 (2)/임시/데이터합쳐'

xlsx_output_repo = '/Users/jaytsol/Desktop/Type23 (2)/임시/D_output'
csv_input_repo = output_repo

In [3]:
# 해당 경로의 파일리스트 추출
def get_filelist(input_repo):
    file_list = []
    for (dirpath, dirnames, filenames) in walk(input_repo):
        file_list.extend(filenames)
        break

    return file_list

In [4]:
# 해당 경로의 csv파일의 경로+파일명 리스트 추출
def get_csvlist(input_repo, file_list):
    csv_list = []
    for i in range(len(file_list)):
        filename, file_extension = os.path.splitext(f'{input_repo}/{file_list[i]}')

        if file_extension == '.csv':
            csv_list.append(filename+file_extension)

    return csv_list

In [5]:
# 해당 경로의 csv파일의 경로+파일명 리스트 추출
def get_xlsxlist(input_repo, file_list):
    xlsx_list = []
    for i in range(len(file_list)):
        filename, file_extension = os.path.splitext(f'{input_repo}/{file_list[i]}')

        if file_extension == '.xlsx':
            xlsx_list.append(filename+file_extension)

    return xlsx_list

In [6]:
def concat_csvfile_1(csv_list):
    COLUMNS = ['input', 'type4', 'type5']
    result = pd.concat([pd.read_csv(f) for f in csv_list])    # 라인넘버 기준 안합친파일 합치기
    
    return result

In [7]:
def concat_csvfile(csv_list):
    COLUMNS = ['input', 'type4', 'type5']
    result = pd.concat([pd.read_csv(f) for f in csv_list])    # 라인넘버 기준 안합친파일 합치기
    
    return result

In [8]:
file_list = get_filelist(input_repo)
xlsx_list = get_xlsxlist(input_repo, file_list)

In [9]:
xlsx_list

['/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김옥주_35.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김옥주_39.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_남현정_15.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_박상호_17.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_안돈이_21.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_주대희_3.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김민경_40(100개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_고은채_22.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김옥주_18.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_백지은_6(250개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_이명진_43(110개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_정다은_28.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_홍선화_9(760개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_백승진님_42(150개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_안돈이_32.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_조은빛_26.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김옥주님_14.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_남현정님_33-1(200개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김태이_11(650개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_정나희_29.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_최하윤님_38-1(200개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_이한빈님_1.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_전혜진_25.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_문규민_10.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김이정_24.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_송지혜_23.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_최정미님_2(830개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_남연희_5(997개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_황우진_8.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김지현님_34.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_남현정님_38-2(291개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_이명진_31.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_임명현_30(100개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_최하윤_4.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_이한빈님_41-1(200).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_김민경_16.xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_최규하_13(623개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_이셈님_33-2(84개).xlsx',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/type D 작업물 정리/type_d_data_지승연_20.xlsx']

In [10]:
for i in tnrange(len(xlsx_list)):
    xlsx = pd.read_excel(xlsx_list[i])
    xlsx.to_csv(f'{xlsx_output_repo}/{file_list[i][:-5]}.csv', encoding='utf-8-sig', index=False)

  0%|          | 0/39 [00:00<?, ?it/s]

In [11]:
for i in tnrange(len(xlsx_list)):
    with_None_data = pd.read_csv(f'{xlsx_output_repo}/{file_list[i][:-5]}.csv')
    without_None_data = pd.DataFrame(columns=['target', 'input_1', 'input_2', 'input_3'])
    for j in range(len(with_None_data)):
        if with_None_data['길이 확인'][j] != 'FALSE':
            target = with_None_data['띄어쓰기, 맞춤법 체크'][j]
            input_1 = with_None_data['첫번째 구분 구간'][j]
            input_2 = with_None_data['두번째 구분 구간'][j]
            input_3 = with_None_data['세번째 구분 구간'][j]
            without_None_data = without_None_data.append({'target':target, 'input_1':input_1, 'input_2':input_2, 'input_3':input_3}, ignore_index=True)
        else:
            pass
    without_None_data.to_csv(f'/Users/jaytsol/Desktop/Type23 (2)/임시/D_output_2/{file_list[i][:-5]}.csv', encoding='utf-8-sig', index=False)

  0%|          | 0/39 [00:00<?, ?it/s]

In [12]:
without_None_data

,input,type4,type5
0,[1] 민법 제219조에 규정된 주위 토지 통행권은 공로와의 사이에 그 용도에 필요...,"것이나, 최소한",것이다. 그러나 최소한
1,[2] 주위 토지 통행권은 공로와의 사이에 그 용도에 필요한 통로가 없는 토지의 이...,"하고, 어느",한다. 어느
2,또 피고인 1은 피고인 2가 사는 장소를 옮길 때마다 자신에게 그 연락처를 알려 주...,받고 피고인의,받았다. 그리고 피고인의
3,"직전의 재판 판결 이유에 의하면, 직전의 재판은 가 주장하는 이혼사유에 들어맞는 증...",놓고서는 피청구인과,놓았다. 그리고는 피청구인과
4,"기록에 의하면, 피고인은 **로 국민학교 2학년을 중퇴하여 겨우 자기 성명밖에 쓸 ...",보이는데 이러한,보인다. 이러한
...,...,...,...
495,라. 이러고 보면 사고 당시 운전석 문짝이 떨어져 나갔기 때문에 피고인이 운전석에서...,"것이고, 가사",것이다. 그리고 가사
496,태풍경보의 발효에 따라 부선들을 대피시키면서 보통 예상되는 태풍에 의한 풍수해에 의...,조처하였으나 강의,조처하였다. 그러나 강의
497,"직전의 재판이 확정한 이 사건 사고의 내용을 보면, 원고는 그 소유의 승용차를 운전...",있고 오른쪽에서,있었다. 그런데 오른쪽에서
498,2. 따라서 위에서 본 증거들을 제외하고 직전의 재판이 들고 있는 다른 증거들을 기...,"증거, 둘째로,",증거를 유죄 증거로 삼았다. 둘째로
499,"앞서 본 바와 같이 공사 착공과 동시에 주요 구조물의 국가 관련 법제, 구조해석, ...","못하고, 나아가",못하였다. 나아가

In [13]:
listlist = '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료'
listlist_output = '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료_output'
file_list = get_filelist(listlist)
csv_list = get_csvlist(listlist, file_list)

In [14]:
csv_list

['/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_안돈이님_32.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_정다은님_28.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_문규민님_10.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_지승연님_20.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_남연희님_5.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_남현정님_15.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_백승진님_7.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_김민경님_16.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_백승진_7.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_최하윤님_38-1.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_박상호님_17.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_김옥주님_35.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_김옥주님_18.csv',
 '/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료/type_d_data_송지혜님_23.csv']

In [15]:
for i in tnrange(len(csv_list)):
    with_None_data = pd.read_csv(f'{csv_list[i]}')
    without_None_data = pd.DataFrame(columns=['input', 'type4', 'type5'])
    for j in range(len(with_None_data)):
        try:
            if (with_None_data['길이 확인'][j] != 'FALSE'):
                without_None_data = without_None_data.append({'input':with_None_data['띄어쓰기, 맞춤법 체크'][j], 'type4':with_None_data['첫번째 구분 구간'][j], 'type5':with_None_data['문장 다듬기'][j]}, ignore_index=True)
            else:
                pass
        except:
            if (with_None_data['확인'][j] != 'FALSE'):
                without_None_data = without_None_data.append({'input':with_None_data['띄어쓰기, 맞춤법 체크'][j], 'type4':with_None_data['첫번째 구분 구간'][j], 'type5':with_None_data['문장 다듬기'][j]}, ignore_index=True)
            else:
                pass
    without_None_data.to_csv(f'/Users/jaytsol/Desktop/Type23 (2)/임시/검수_완료_output/{csv_list[i][45:]}', encoding='utf-8-sig', index=False)

  0%|          | 0/14 [00:00<?, ?it/s]

In [16]:
csv_without_None_filelist = get_filelist('/Users/jaytsol/Desktop/Type23 (2)/임시/데이터합쳐')
csv_without_None_csvlist = get_csvlist('/Users/jaytsol/Desktop/Type23 (2)/임시/데이터합쳐', csv_without_None_filelist)

In [17]:
concat_result = pd.concat([pd.read_csv(f) for f in csv_without_None_csvlist])

In [18]:
file_list = get_filelist(csv_input_repo)
csv_list = get_csvlist(csv_input_repo, file_list)
org = concat_csvfile(csv_list)

In [64]:
concat_result.to_csv('/Users/jaytsol/Desktop/Type23 (2)/임시/최종합침.csv', encoding='utf-8-sig', index=False)
# result.to_csv('/Users/jaytsol/Desktop/Type23 (2)/누적/concat/.csv', encoding='utf-8-sig', index=False)

In [72]:
final = pd.DataFrame(columns=['input', 'type4', 'type5'])
for i in tnrange(len(concat_result)):
    if concat_result['type5'][i] != None:
        final = final.append({'input':concat_result['input'][i], 'type4':concat_result['type4'][i], 'type5':concat_result['type5'][i]}, ignore_index=True)

  0%|          | 0/31790 [00:00<?, ?it/s]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [66]:
concat_result['type4'][0]

0                부담하는 반면
0                  없어 이를
0                 하고, 상을
0                  하는 경우
0               경우, 상대방이
0             되므로 피담보채권이
0                  한 경우,
0     명령 (****.**.**대통령령
0                 않다는 점을
0                 되고, 다만
0             끝났음에도 불구하고
0                  지은 다음
0               것이나, 최소한
0                 하고, 빚을
0               없고, 그렇다면
0             아니라고 하더라도,
0                   요지 /
0             되므로 피담보채권이
0                  하고, 이
0                 않다는 점을
0               것이었다고 하여
0             의무를 지운 자료의
0                  하고, 또
0               있음에도, 회사
0               것이었다고 하여
0               있음에도, 회사
0                 요지 / 위
0               없고, 그렇다면
0              배근하고, 나아가
0                 약취한 행위
0                  주기 전에
0                가지고 있으나
0              명백하므로, 위와
0                 오던 피해자
0               것이나, 최소한
0               일 외 3 회사
0                 그치고 대장
0              체결하였는데, 그
0                소유하는 몫이
0               받아 국립묘지의
0                  하는 경우
0                 오던 피해자
0                  주기 전에
0                부담하는 반면
0              체결하였는데, 그
0                가지고 있으나
0               발생한 경우에는
0              체결하였는데, 그
0             하여 근로복지공단이
0                    NaN
0          경우가 있으므로, 이러한
0                찍은 사안에서
0              가리키고, 도화의
Name: type4, dtype: object

In [37]:
concat_result

,input,type4,type5,Unnamed: 0,원본텍스트,"띄어쓰기, 맞춤법 체크",최소문장 분할,길이 확인,첫번째 구분 구간,문장 다듬기,두번째 구분 구간,문장 다듬기.1,세번째 구분 구간,문장 다듬기.2,첫번째 \n문장 길이,두번째 \n문장 길이,세번째\n 문장 길이,네번째 \n문장 길이
0,따라서 법률상의 지위인 주주권을 부여하는 유가증권이 발행되지 않은 주식에 관하여 체...,부담하는 반면,부담한다. 그런 반면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[1] 부동산 매매계약에서 계약금과 잔금 사이에 치르는 돈이 지급되는 등 계약이 본...,처리하여 치워,처리한다. 그리하여 치워,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[2] 경제적 이익이 목적인 권리에 관한 매매계약에서 사는 사람이 외국법인인 파는 ...,"몰취된 경우,",몰취됐다. 그리된 경우,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[2] 최초로 무상으로 주는 것으로 간주되는 대상이 되어 세금이 매겨졌거나 세금이 ...,단절되어 서로,단절된다. 그리하여 서로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[2] 최초로 무상으로 주는 것으로 간주되는 대상이 되어 세금이 매겨지거나 세금을 ...,적용되어 증여를,적용된다. 그리하여 증여를,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
concat_result['type5'][0]

0              부담한다. 그런 반면
0                   없다. 이를
0               한다. 그리고 상을
0             할수 있다.\n이 경우
0                경우이다. 이때,
0          된다. 그러므로 피담보채권이
0                  한다. 이경우
0    명령한다, (****.**.**대통령령
0               않다. 이러한 점을
0                   된다, 다만
0           끝났다. 그럼에도 불구하고
0                지었다,그런 다음
0             것이다. 그러나 최소한
0               한다. 그리고 빚을
0                 없다. 그렇다면
0           아니다. 그렇다고 하더라도
0                  요지. 그리고
0          된다. 그러므로 피담보채권이
0                한다. 그리고 이
0               않다. 이러한 점을
0         것이었다고 한다. 그렇다 해도
0              의무를 지운다. 또한
0                    한다. 또
0           있다.\r\n그럼에도 회사
0         것이었다고 한다. 그렇다 해도
0           있다.\r\n그럼에도 회사
0                요지. 그리고 위
0                 없다. 그렇다면
0          배근하였다.\n거기서 나아가
0             약취했다. 이러한 행위
0                 준다. 그 전에
0             가진다. 그리고 있으나
0            명백하다. 그러므로 위와
0             왔다. 그러더니 피해자
0             것이다. 그러나 최소한
0             일이다. 그외 3 회사
0              그친다. 그리고 대장
0                 체결하였다. 그
0              소유한다. 그런 몫이
0               받았다. 국립묘지의
0           할수 있다.\r\n이 경우
0             왔다. 그러더니 피해자
0                 준다. 그 전에
0              부담한다. 그런 반면
0             체결하였다. 그런데 그
0             가진다. 그리고 있으나
0            발생한다.\n그 경우에는
0             체결하였다. 그런데 그
0     하도록 한다. 그 다음 근로복지공단이
0                      NaN
0         경우가 있다. 그러므로 이러한
0              찍었다, 그 사안에서
0                가리킨다. 도화의
Name: type5, dtype: object

In [30]:
concat_result

,input,type4,type5,Unnamed: 0,원본텍스트,"띄어쓰기, 맞춤법 체크",최소문장 분할,길이 확인,첫번째 구분 구간,문장 다듬기,두번째 구분 구간,문장 다듬기.1,세번째 구분 구간,문장 다듬기.2,첫번째 \n문장 길이,두번째 \n문장 길이,세번째\n 문장 길이,네번째 \n문장 길이
0,따라서 법률상의 지위인 주주권을 부여하는 유가증권이 발행되지 않은 주식에 관하여 체...,부담하는 반면,부담한다. 그런 반면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[1] 부동산 매매계약에서 계약금과 잔금 사이에 치르는 돈이 지급되는 등 계약이 본...,처리하여 치워,처리한다. 그리하여 치워,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[2] 경제적 이익이 목적인 권리에 관한 매매계약에서 사는 사람이 외국법인인 파는 ...,"몰취된 경우,",몰취됐다. 그리된 경우,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[2] 최초로 무상으로 주는 것으로 간주되는 대상이 되어 세금이 매겨졌거나 세금이 ...,단절되어 서로,단절된다. 그리하여 서로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[2] 최초로 무상으로 주는 것으로 간주되는 대상이 되어 세금이 매겨지거나 세금을 ...,적용되어 증여를,적용된다. 그리하여 증여를,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN